body {
  background-color: powderblue;
  color: #333;
}

h1 {
  font-size: 4.5em;
  color: #FEFCFB;
}

h2 {
  font-size: 2em;
  color: #1282A2;
}

h2 a {
  color: #1282A2;
}

p {
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: #FEFCFB;
  font-size: 1.1em;
}

.press {
  background-color: #1282A2;
  padding: 15px 10px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.single-article {
  padding: 5px 5px 80px;
  background-color: powderblue;
  border-radius: 5px;
}

.container {
  margin: 20px auto;
  height: 200px;
  width: 600px;
  padding: 0px 20px 20px;
}

.main {
  margin: 0px auto;
  width: 600px;
  padding: 0px 5px 50px 5px;
}

.header-break {
  width: 100%;
  height: 20px;
  background-color: #1282A2;
  animation: shift 2s;
}

.main-article-add-button {
  display: block;
  margin-top: 50px;
  width: 20%;
}

input,
button {
  display: block;
}

.article-slot,
.title-slot,
.tags-slot {
  border-radius: 2px;
  margin: 5px 0px 5px;
  padding: 10px 5px;
  border: none;
  font-size: 1.1em;
  color: #333;
}

.article-slot,
.tags-slot {
  width: 100%;
}

.make-me-live {
  margin: 20px 0px 0px 75%;
  padding: 12px 10px;
  border-radius: 2px;
  border: 2px solid #FEFCFB;
  font-size: 1.2em;
  background-color: lightgreen;
  color: #333;
}

.index-article {
  margin-bottom: 30px;
}

.home-button {
  padding: 12px 10px;
  border-radius: 2px;
  border: none;
  font-size: 1.2em;
  background-color: #1282A2;
}

.read-on {
  font-size: .9em;
  color: #7e55bb;
  font-weight: bold;
}

.deleted {
  margin-bottom: 200px;
}

.tags {
  font-size: .8em;
  font-style: italic;
  color: teal;
  margin-bottom: 80px;
}


@keyframes shift {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}