.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}


/*Button Styling*/
a:link {
  color: #4f5659;
  text-decoration: none;
}

a:visited {
  color: #588799;
}

a:hover {
  color: #91acb7;
}
