<div class="container">
  <h1>Entries tagged <%= @tag.category %> </h1>

  <table>
    <tr>
      <th>Title</th>
      <th>Tags</th>
    </tr>
    <% @entries.each do |entry| %>
    <tr>
      <td><a href= <%= "/entries/#{entry.id}" %> ><%= entry.title %></a></td>
      <td><% tags_array = [] %>
          <% entry.tags.each do |tag| %>
          <% tags_array << tag.category %>
          <% end %>
          <%= tags_array.join(", ") %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
