<div class="container">
  <h1>Create new entry!</h1>

<% if @messages %>
  <% @messages.each do |message| %>
    <h3>ERROR: <%= message %></h3>
  <% end %>
<% end %>

  <form action="/create" method="post">
    <p>Title</p>
    <input type="text" name="title">
    <p>Body</p>
    <input type="text" name="body">
    <p>Tags (dogs, cats, ham...)</p>
    <input type="text" name="tags">
    <input type="submit">
  </form>

</div>
