<div class="container">
  <form action="/entries/save" method="POST">
    <label>Title</label>
    <input type="textbox" name="title" />
    <label>Body</label>
    <input type="textbox" name="body" />
    <input type="submit" value="Submit"/>
  </form>
</div>
