<div class="container">
  <h1>Here are the available entries for deletion!</h1>

  <table>
    <tr>
      <th>Post no.</th>
      <th>Title</th>
      <th>Entry</th>
      <th>Tags</th>
    </tr>
    <% @all_entries.each do |entry| %>
    <tr>
      <td><%= entry.id %></td>
      <td><%= entry.title %></td>
      <td><%= entry.body %></td>
      <td><% tags_array = [] %>
          <% entry.tags.each do |tag| %>
          <% tags_array << tag.category %>
          <% end %>
          <%= tags_array.join(", ") %>
      </td>
    </tr>
    <% end %>
  </table>

  <form action="/delete" method="post">
    <p>Enter a post number to delete.</p>
    <input type="text" name="entry_id">
    <input type="submit">
  </form>
</div>
