<div class="container">
  <h1>SpaceFeld!</h1>

  <h2 class="deleted"><%= @article.title %> has been deleted.</h2>
  <a class="press" href="/new_entry/">Add New Entry</a>
  <a class="press" href="/">Back to the goods</a>
</div>
