<div class="container">
  <h1>Welcome to Anonymous Blog!</h1>

  <form action='/entries/update/<%= @entry.id %>' method='post'>
    <textarea id="Title" name="entry[title]" rows="1" cols="60"><%= @entry.title %></textarea>
    <br />
    <label for="Body">Your Post Here</label>
    <br />
    <textarea id='Body' name="entry[body]" rows="8" cols="60"><%= @entry.body %></textarea>
    <textarea id='Author' name="entry[author]" rows="1" cols="51"><%= @entry.author %></textarea>
    <input type='submit' name='Submit' value='Update'/>
  </form>

</div>
