<div class="container">
  <h2>Title: <%=@entry_title%></h2>
  <h3>Author: <%=@entry_author%></h3>
  <h3>Body: <%=@entry_body%></h3>

  <a href="/edit">Edit</a>
  <a href="/delete">Delete</a>
  <a href="/">Publish</a>
</div>
