<div class="container">
  <h1>Welcome to Anonymous Blog!</h1>
  <h4><a href='/entries/new'>Create New Entry</a></h4>
  <p>Hello, world!</p>
  <% if @entries %>
    <% @entries.each do |entry| %>
    <a href="/entries/<%= entry.id %>"><h2><%= entry.title %></h2></a>
    <p><%= entry.author %></p>
  <% end %>
  <% end %>

</div>
