<div class="container">
  <h1>Welcome to Anonymous Blogging!</h1>
  <a href="/entries/new">Add a Post!</a>
  <h2>Posts...</h2>

  <% if @entries %>
  <% @entries.each do |entry| %>
  <h3><a href='/entry/<%= entry.id %>'><%= entry.title %></a></h3>
  <% end %> <% end %>

</div>
