
<form id="blog_entry" action="/entries" method="post">
  <label for="blog_entry">Title:</label>
  <input type="text" name="title" />
     <section>
       <label for="blog_entry">Blog
          Entry:</label>
  <input type="text" name="body" />
  <input type="submit" value="blog" />
</section>
</form>

<div>
  <% @entries.each do |entry| %>
<h2>  <%= entry.title %> </h2>
<% end %>
</div>
