<div class="container">
  <form action="/" method="post">
    <div>
      <input type="text" name="title" placeholder="Enter Title Here">
    </div>
    <div>
      <textarea type="text" name="body" placeholder="Enter Body Here"></textarea>
    </div>
    <div>
      <input type="text" name="tag" placeholder="Enter Tag Here">
    </div>
    <div>
      <input type="submit" value="Submit!">
    </div>
  </form>

  <table border="thick">
    <tr>
      <th colspan="2">Blog Post</th>
    </tr>
    <% if @posts %>
      <% @posts.each do |post| %>
        <tr>
          <td><a href='/entry/<%= post.id %>'><%= post.title %></a></td>
          <td><%= post.body %></td>
        </tr>
        <tr>
          <td colspan="2"><%= post.tags.all.pluck(:tag_name).join(", ") %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
