<div class="container">
  <h1>My Blog</h1>

   <% @all_entries.each do |entry|%>
   <h4>
      <a href="/entry/?entry_id=<%=entry.id%>" ><%=entry.title.capitalize%></a>
   </h4>
   <p>
     <%=entry.body.split[0..9].join(' ')%>
   </p>
<% end %>
</div>
