<div class="container">
  <h1>Index</h1>
  <p>Hello, world!</p>
  <div>
    <a href="/entries/create">Create Entry</a>
     <% @entries.each do |entry|%>
      <h2><a href="/entries/<%= entry.id %>"> <%= entry.title %></a> </h2>
     <% end %>
  </div>
</div>
