<h1>My Blog</h1>

<a href='/entries/new'>Create a post</a>

<div>
  <% @entries.each do |entry| %>
<h2>  <a href='/entries/<%= entry.id %>'  > <%= entry.title %></a> </h2>
</div>
<div>
  <p>
    <%= entry.body %>
  </p>
  <% end %>
</div>
