<div class="container">
  <h1>SpaceFeld!</h1>

  <% if defined?(@article) %>
  <h2><%= @article.title %></h2>
  <p><%= @article.article %></p>
  <% else %>
    <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= post.article %></p>
    <% end %>
  <% end %>

  <a href="/new_entry">Add New Entry</a>
</div>
