<form action="/entries" method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="description" placeholder="Body">
  <input type="text" name="tags" placeholder="ex: tag, tag, tag">
  <input type="submit" name="submit" value="Add Post!">
</form>
