<form id="blog_entry" action="/entries" method="post">
  <label for="blog_entry">Title:</label>
  <input type="text" name="title" />
     <section>
       <label for="blog_entry">Blog Entry:</label>
  <input type="text" name="body" />
  <input type="submit" value="blog" />
</section>
<label for="entry_tags">Tags:</label>
<input id="entry_tags" name="tag" value="coding, lifestyle, geek, fitness">
</form>
