<div class="container">
  <h1>SpaceFeld!</h1>
  <h2>Give us that SpaceFeld Goodness...</h2>
  <form action="/new_entry" method="post">
    <input type="text" name="title">
    <input type="text" name="article">
    <button type="submit">Make Me Live</button>
  </form>

  <a href="/">Back to the goods</a>
</div>
