<div class="container">
  <h1>SpaceFeld!</h1>
  <h2>Give us that SpaceFeld Goodness...</h2>
  <form action="/new_entry" method="post">
    <input class="title-slot" type="text" name="title" placeholder="Title Goes Here">
    <textarea class="article-slot" name='article' cols='40' rows='8' placeholder="Got something interesting to say?"></textarea>
    <input class="tags-slot" type="text" name="tags" placeholder="Gimme some tags!">
    <button class="make-me-live" type="submit">Make Me Live</button>
  </form>

  <a class="home-button" href="/">Back to the goods</a>
</div>
