<div class="container">
  <h1>SpaceFeld!</h1>
  <h2>Give us that SpaceFeld Goodness...</h2>
  <form action="/new_entry" method="post">
    <input type="text" name="title">
    <textarea name='article' cols='40' rows='8'></textarea>
    <input type="text" name="tags" placeholder="tags">
    <button type="submit">Make Me Live</button>
  </form>

  <a href="/">Back to the goods</a>
</div>
