<div class="container">
  <h2>Tags:</h2>
  <ul>
    <% @current_entry.tags.all.pluck(:tag_name).each do |tag_name| %>
      <li>
        <%= tag_name %>
      </li>
    <% end %>
  </ul>

  <% if @errors != [] && @errors != nil %>
  <h4>Errors:</h4>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>

  <form action="/entry/<%= @current_entry.id %>/new_tag" method="post">
    <input type="text" name="tag" />
    <input type="submit" value="submit" />
  </form>
</div>
