<h1> <a href='/'>My Blog</a></h1>
<h2>
  <%= @entry.title %>
</h2>
<p>
  <%= @entry.body %>
</p>
<div>
  <a href='/entries/<%=@entry.id%>/edit'>Edit</a>
  <form action="/delete/<%=@entry.id%>" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" name="delete" value="delete"/>
  </form>
</div>
