<div class="container">
  <h1>Welcome to Anon Blog!</h1>

  <div class="home">
    <p><a href="/">Home</a></p>
  </div>

  <% if @entry %>
    <P>
      <h2>Title: <%= @entry.title %></h2>
      <h4>Author: <%= @entry.author %></h4>
    </P>
    <p>Created on: <%= @entry.created_at %></p>
    <p><%= @entry.body %></p>
  <% end %>

</div>
